input {
#check if doc types can be inherited
# metadata values should be array
# check id combined with EntityID and EntityType
	jdbc {
		#q1 - OU
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "0 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "SELECT ou.ID as EntityID, 1 as EntityTypeID, ou.ExternalID, ou.Name, 1 as ParentTypeID, oup.Name as ParentName, oup.ID as ParentID,
                                  l.LocationName as Location, md.Name as MDType, dba.MDProperties as mdprops, ou.IsDeleted
                                  FROM OrganizationalUnits_tbl ou
                                  -- ContentEntityTypes.OrganizationalUnit = 16
                                  LEFT join LocationRelatedEntities lre on lre.EntityID = ou.ID and lre.EntityType=16
                                  left join Locations l on l.LocationID = lre.LocationID
                                  left join OrganizationalUnits oup on oup.ID = ou.ParentID
                                  join MetaDT_ObjectTypes mdo on mdo.ObjectID = ou.ID and mdo.ContentEntityTypeID=16
                                  join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID 
                                  CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(ou.ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba"
                                 #order by ou.id desc" # " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	jdbc {
		#q2 - TP
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "2 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "SELECT le.ID as EntityID, 3 as EntityTypeID, le.ExternalID, le.Name, 1 as ParentTypeID, ou.Name as ParentName, ou.ID as ParentID, 
					l.LocationName as Location, md.Name as MDType, dba.MDProperties as mdprops, le.StartDate, le.EndDate, le.IsDeleted
					 FROM LearningEnvironments_tbl le
					 -- Course = 14,
					LEFT join LocationRelatedEntities lre on lre.EntityID = le.ID and lre.EntityType=14
					left join Locations l on l.LocationID = lre.LocationID
					join OrganizationalUnits ou on ou.ID = le.ParentID
					join MetaDT_ObjectTypes mdo on mdo.ObjectID = le.ID and mdo.ContentEntityTypeID=14
					join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
					CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(le.ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
					where le.Type=3"
					#order by le.id desc" # " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	jdbc {
		#q3 - MP
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "5 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "SELECT le.ID as EntityID, 4 as EntityTypeID, le.ExternalID, le.Name, 1 as ParentTypeID, ou.Name as ParentName, ou.ID as ParentID,
					le.VersionID as Version, le.VersionStatus,
					l.LocationName as Location, md.Name as MDType, dba.MDProperties as mdprops, le.StartDate, le.EndDate, le.IsDeleted
					 FROM LearningEnvironments_tbl le
					 -- CourseTemplate = 15,
					LEFT join LocationRelatedEntities lre on lre.EntityID = le.ID and lre.EntityType=15
					left join Locations l on l.LocationID = lre.LocationID
					join OrganizationalUnits ou on ou.ID = le.ParentID
					join MetaDT_ObjectTypes mdo on mdo.ObjectID = le.ID and mdo.ContentEntityTypeID=15
					join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
					CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(le.ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
					where le.Type=4"
					#order by le.id desc" # " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	jdbc {
		#q4 - ACR
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "6 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "SELECT le.ID as EntityID, 15 as EntityTypeID, le.ExternalID, le.Name, 1 as ParentTypeID, ou.Name as ParentName, ou.ID as ParentID, 
					l.LocationName as Location, md.Name as MDType, dba.MDProperties as mdprops, le.StartDate, le.EndDate, le.UseAsCatalog, le.IsDeleted
					 FROM LearningEnvironments_tbl le
					 -- ACR = 32,
					LEFT join LocationRelatedEntities lre on lre.EntityID = le.ID and lre.EntityType=32
					left join Locations l on l.LocationID = lre.LocationID
					join OrganizationalUnits ou on ou.ID = le.ParentID
					join MetaDT_ObjectTypes mdo on mdo.ObjectID = le.ID and mdo.ContentEntityTypeID=32
					join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
					CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(le.ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
					where le.Type=15"
					#order by le.id desc" # " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	jdbc {
		#q5 - RR
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "7 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "SELECT  rr.ID as EntityID, 5 as EntityTypeID, rr.ExternalID, rr.Name, 1 as ParentTypeID, ou.Name as ParentName, ou.ID as ParentID, 
					l.LocationName  as Location, '' as MDType, NULL as mdprops, rr.IsDeleted
					 FROM ResourceRepositories_tbl rr
					 -- RR = 5,
					LEFT join LocationRelatedEntities lre on lre.EntityID = rr.ID and lre.EntityType=5
					left join Locations l on l.LocationID = lre.LocationID
					join OrganizationalUnits ou on ou.ID = rr.ParentID"
					#order by rr.id desc" # " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	
	jdbc {
		#q6 - Users
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "8 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select u.ID as EntityID, 11 as EntityTypeID, u.ExternalID, IsNull([LastName],'') + ' '+IsNull([FirstName],'')  as Name, u.FirstName, u.LastName, u.LoginName, 
				u.Email, 1 as ParentTypeID, ou.Name as ParentName, ou.ID as ParentID, l.LocationName as Location,md.Name as MDType, dba.MDProperties as mdprops, u.IsDeleted
				from Users_tbl u
				-- UserExtendedProperty = 13
				LEFT join LocationRelatedEntities lre on lre.EntityID = u.ID and lre.EntityType=13
				left join Locations l on l.LocationID = lre.LocationID
				join OrganizationalUnits ou on ou.ID = u.ParentID
				join MetaDT_ObjectTypes mdo on mdo.ObjectID = u.ID AND mdo.ContentEntityTypeID=13
				join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
				CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(u.ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba"
				#order by u.ID desc" # " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	jdbc {
		#q7 Activities
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "12 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select a.ActivityID as EntityID, ah.AH_Type as EntityTypeID, ah.SystemUniqueName as ExternalID, ah.AH_Name as Name, 
		a.OwnerType as ParentTypeID, le.Name as ParentName, le.ID as ParentID, l.LocationName as Location,  md.Name as MDType, dba.MDProperties as mdprops, ah.VersionID as Version, ah.VersionStatus, 
		ass.AssignmentID, ass.EvaluationMethod, ah1.AH_Name AS EvaluationTool, ah.AH_Description as Description, ah.AH_IsDeleted AS IsDeleted
		from Syllabus.Activities a
		join AllHeaders_tbl ah on ah.AH_ID = a.ActivityID
		INNER JOIN  Syllabus.ActivityAssignments ass        ON  a.ActivityID = ass.ActivityID
		-- Activity = 12,
		LEFT join LocationRelatedEntities lre on lre.EntityID = ah.AH_ID and lre.EntityType=12
		left join Locations l on l.LocationID = lre.LocationID
		JOIN Assignments asign on ass.AssignmentID = asign.ID 
		left join AllHeaders ah1 on ah1.AH_ID = asign.ItemID
		JOIN LearningEnvironments le on le.ID = a.CourseID
		join MetaDT_ObjectTypes mdo on mdo.ObjectID = a.ActivityID and mdo.ContentEntityTypeID=12
		join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
		CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(a.ActivityID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba" 
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
		
	}
	jdbc {
		#q8 CourseWare 
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "16 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select ah.AH_ID as EntityID, 20 as EntityTypeID, ah.SystemUniqueName as ExternalID, ah.AH_Name as Name,
		s.OwnerType as ParentTypeID, le.Name as ParentName, le.ID as ParentID, md.Name as MDType, dba.MDProperties as mdprops, ah.VersionID as Version, ah.VersionStatus,
		u.Name as CreatorName, ah.AH_TimeCreated as LastUpdate, ah.AH_IsDeleted AS IsDeleted
		 from AllHeaders_tbl ah
		 inner join KbSubjects s ON AH_SubjectID = s.ID 
		 inner join ItemCourses ON AH_ID = IC_ItemID and s.OwnerID = SubscriberCourseID 
		 inner join LearningEnvironments le ON s.OwnerID = le.ID 
		 left join Users u on u.ID = ah.AH_Admin
		 join MetaDT_ObjectTypes mdo on mdo.ObjectID = ah.AH_ID
		join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
		CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(ah.AH_ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
		where ah.AH_Type = 20 and ah.IH_Type=9" 
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
	}
	jdbc {
		#q9 Jto
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "18 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select JT.ID as EntityID, 26 as EntityTypeID, JT.ExternalID, JT.Name, JT.OwnerType as ParentTypeID, LE.Name as ParentName, LE.ID as ParentID,
       MDT.Name as MDType, dba.MDProperties as mdprops ,JT.VersionID as Version, isnull(OWN.VersionStatus, JT.VersionStatus) as VersionStatus,
	   u.Name as CreatorName,
	   (select t.TrainingPositionName + ',' AS [text()]	   
				FROM TrainingPositionsRelations tr
				join TrainingPositions t on tr.TrainingPositionID = t.TrainingPositionID
				where tr.EntityID=JT.ID and tr.EntityType=26
			FOR XML PATH ('')) as TrainingPositions,
		h.AH_Name as EvaluationTool, JT.IsDeleted
      from JobTasks_tbl JT 
	  --join TrainingPositionsRelations tr on tr.EntityID = JT.ID
	  --join TrainingPositions t on tr.TrainingPositionID = t.TrainingPositionID
	  inner join Objectives o on o.OwnerID = JT.ID
	  left join Obs_Headers h on h.AH_ID = o.EvaluationMethodComponentID
	  left join Users u on u.ID = JT.CreatedBy
      inner Join MetaDT_ObjectTypes mdo on  mdo.ObjectID = case when JT.LinkedToJobTaskID > 0 then JT.LinkedToJobTaskID else jt.ID end and ContentEntityTypeID = 26 
      inner join MetaDT_Types MDT on MDT.MDTypeID = mdo.MDTypeID 
	  CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(JT.ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
	  left join LearningEnvironments LE on LE.ID=JT.OwnerID and LE.type=JT.OwnerType
	  left join dbo.JobTasks OWN on OWN.ID = JT.LinkedToJobTaskID" 
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
	}
	jdbc {
		#q10 Evaluation Form
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "20 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select OAF.ID as EntityID, 58 as EntityTypeID, OAF.ExternalID, OAF.Name, LE.Name as ParentName, LE.ID as ParentID, LE.Type as ParentTypeID, OAF.VersionID as Version, OAF.VersionStatus, null as mdprops, 0 as IsDeleted
			FROM ObjectivesAssessmentsForms OAF 
			inner join LearningEnvironments LE ON OAF.OwnerID = Le.ID and LE.[Type] = OAF.OwnerType
			Where OAF.[OwnerType] = 15"
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
	}
	jdbc {
		#q11 External CourseWare (SCORM)
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "25 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select ah.AH_ID as EntityID, 22 as EntityTypeID, ah.SystemUniqueName as ExternalID, ah.AH_Name as Name,
		s.OwnerType as ParentTypeID, le.Name as ParentName, le.ID as ParentID, md.Name as MDType, dba.MDProperties as mdprops, ah.VersionID as Version, ah.VersionStatus,
		u.Name as CreatorName, ah.AH_TimeCreated as LastUpdate, ah.AH_IsDeleted AS IsDeleted
		 from AllHeaders_tbl ah
		 inner join KbSubjects s ON AH_SubjectID = s.ID 
		 inner join ItemCourses ON AH_ID = IC_ItemID and s.OwnerID = SubscriberCourseID 
		 inner join LearningEnvironments le ON s.OwnerID = le.ID 
		 left join Users u on u.ID = ah.AH_Admin
		 join MetaDT_ObjectTypes mdo on mdo.ObjectID = ah.AH_ID
		join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID
		CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(ah.AH_ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
		where ah.AH_Type = 10 and ah.IH_Type=22" 
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
	}
	jdbc {
		#q12 Test (Exam) 
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "28 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select ah.AH_ID as EntityID, 21 as EntityTypeID, ah.SystemUniqueName as ExternalID, ah.AH_Name as Name,
		s.OwnerType as ParentTypeID, le.Name as ParentName, le.ID as ParentID, md.Name as MDType, dba.MDProperties as mdprops, ah.VersionID as Version, ah.VersionStatus,
		u.Name as CreatorName, ah.AH_TimeCreated as LastUpdate, ah.AH_IsDeleted as IsDeleted
		 from AllHeaders_tbl ah
		 inner join KbSubjects s ON AH_SubjectID = s.ID 
		 inner join ItemCourses ON AH_ID = IC_ItemID and s.OwnerID = SubscriberCourseID 
		 inner join LearningEnvironments le ON s.OwnerID = le.ID 
		 left join Users u on u.ID = ah.AH_Admin
		 join MetaDT_ObjectTypes mdo on mdo.ObjectID = ah.AH_ID
		join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID		
		CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(ah.AH_ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
		where ah.AH_Type = 20 and ah.IH_Type=8" 
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
	}
	jdbc {
		#q13 Files 
		jdbc_driver_library => "/usr/share/logstash/jdbc/jtds-1.3.1.jar"
		jdbc_driver_class => "Java::net.sourceforge.jtds.jdbc.Driver"
		jdbc_connection_string => "jdbc:jtds:sqlserver://"${SQL_SERVER_IP}":"${MSSQL_PORT_CONNECTION}";databasename="${SQL_DB_NAME}";integratedSecurity=true;user="${SQL_USER}";password="${SQL_PASSWORD}""
		jdbc_user => "${SQL_USER}"
		jdbc_user => "${SQL_PASSWORD}"
		schedule => "30 */1 * * *"

		#record_last_run => true
		#last_run_metadata_path => "C:\Elasticsearch\logstash-5.0.0\fox.config.files\logstash_jdbc_last_run_q2"
		
		statement => "select ah.AH_ID as EntityID, 2 as EntityTypeID, ah.SystemUniqueName as ExternalID, ah.AH_Name as Name,
		s.OwnerType as ParentTypeID, le.Name as ParentName, le.ID as ParentID, md.Name as MDType, dba.MDProperties as mdprops, ah.VersionID as Version, ah.VersionStatus,
		u.Name as CreatorName, ah.AH_TimeCreated as LastUpdate, ah.AH_IsDeleted as IsDeleted
		 from AllHeaders_tbl ah
		 inner join KbSubjects s ON AH_SubjectID = s.ID 
		 inner join ItemCourses ON AH_ID = IC_ItemID and s.OwnerID = SubscriberCourseID 
		 inner join LearningEnvironments le ON s.OwnerID = le.ID 
		 left join Users u on u.ID = ah.AH_Admin
		 join MetaDT_ObjectTypes mdo on mdo.ObjectID = ah.AH_ID
		join MetaDT_Types md on md.MDTypeID = mdo.MDTypeID		
		CROSS APPLY(SELECT dbo.fn_getJSONMetaDataValues(ah.AH_ID,mdo.MDTypeID,mdo.ContentEntityTypeID,null,1) AS 'MDProperties') AS dba
		where ah.AH_Type = 10 and ah.IH_Type=2" 
		# " ... WHERE CreationDate > :sql_last_value"
		#lowercase_column_names => true
		#jdbc_paging_enabled => true
		#jdbc_page_size => 100
	}
}
filter {
	#create parsed_json from input message
    json {
        source => "mdprops"        
    }
	
	if [mdprops] 
	{
		mutate {
			add_field => {"[MDProperties][Type]" => "%{[mdprops][MDProperties][Type]}"}
			add_field => {"[MDProperties][Name]" => "%{[mdprops][MDProperties][Name]}"}
			add_field => {"[MDProperties][Value]" => "%{[mdprops][MDProperties][Value]}"}			
			remove_field => [ "json", "mdprops" ]
		}
     }
	# check for externalID which either contains guid of starts with char0006 and if so replace with empty string
	if [externalid] =~ "(^\u0006)|([0-9a-f]{32})|([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})"
	{
		mutate {
			update => {
				"externalid" => ""
			}
		}
	}
	mutate {
		convert => {
			"isdeleted" => "string"			
		}
	}
	mutate {
		convert => {
			"isdeleted" => "boolean"			
		}
	}
}


output {
	elasticsearch {
		hosts => "elasticsearch:9200"
		user => "elastic"
		password => "changeme"
		index => "foxentitiesfox"
		document_id => "%{entityid}%{entitytypeid}"
		manage_template => true
		template_name => "foxtemplate"
    	#ssl => true
    	#ssl_certificate_verification => false
	}
	stdout { codec => rubydebug }
}